/*=============== NEW ARRIVALS ===============*/


.new__content-bg {
  background: var(--container-color);
}

.new__button {
  display: inline-flex;
  padding: 0.5rem !important;
  border-radius: 0.25rem 0.25rem 0.75rem 0.25rem;
  position: absolute;
  bottom: 0;
  right: -3rem;
  width: 36px;
  height: 36px;
}

